* {
  box-sizing: border-box;
}

.calculator {
  width: 500px;
  height: 500px;
  border: none;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(224, 224, 224);
}

.display {
  width: 100%;
  height: calc(500px / 6);
  border-bottom: 1px solid #d1d1d1;
  background-color: #858693;
}

.keypad {
  width: 100%;
  height: calc(500px / 6 * 5);
  border: none;
}

.key {
  width: 25%;
  height: calc(500px / 6);
  float: left;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  font-weight: 700;
}

.double-size {
  width: 50%;
}

.color-button {
  background-color: #f39148;
}
